{% extends "base.twig" %}

{% block content %}
	<div class="single__image" style="background-image:url('{{ options.single_background_image.url }}');" data-midnight="dark">
		<div class="main-wrapper">
			<div class="title__wrapper">
				<div class="title-part">
					<div class="title__number title__number--{{ options.second_line_title.title|sanitize }}">
						{{ options.number }}
					</div>
					<div class="title__container">
						{% if options.first_line_title.title %}
						<div class="title__first-line">
							<h2 class="title--{{ options.first_line_title.fonts }}" style="color: {{options.first_line_title.color}};">{{ options.first_line_title.title }}</h2>
						</div>
						{% endif %}
						{% if options.second_line_title.title %}
						<div class="title__second-line">
							<h2 class="title--{{ options.second_line_title.fonts }}" style="color: {{options.second_line_title.color}};">{{ options.second_line_title.title }}</h2>    
						</div>
						{% endif %}
					</div>
				</div>
				<div class="search--posts">
					<form class="blog__search-form">
						<div class="search-form__container">
							
							<input type="text" class="blog__search-input">
							<input type="hidden" name="post_type" value="post" />
							<button type="submit" class="searchButton blog__search-button">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</form>
				</div>
			
			</div>
			<style>
				.title__number--{{ options.second_line_title.title|sanitize }}{ 
					/* color: {{ section.background_color }}; 
					text-shadow: {{ section.number_color }} 1px 1px, {{ section.number_color }} -1px 1px, {{ section.number_color }} -1px -1px,{{ section.number_color }} 1px -1px; */
					color: transparent;
					-webkit-text-stroke: 1px {{ options.number_color }};
				}
			
				.sutitle__number--{{ options.second_line_title.title|sanitize }}.sutitle-part:before{
					background-color: {{ options.number_color }};
			
				}
				
			</style>
		</div>
	</div>
	<div class="single-content-wrapper">
		<div class="main-wrapper">
			<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				<div class="single-head">
					<div class="single-date">
						{{ post.date }}
					</div>
					<!-- <p class="blog-author">
						<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a>
					</p> -->
				</div>
				<h1 class="article-h1">{{ post.title }}</h1>
				<img src="{{ post.thumbnail.src }}" class="single-banner">
				<section class="article-content">

					<div class="article-body">
						{{post.content}}
					</div>
				</section>
	
				
			</article>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
