<section id="{{ section.first_line_title.title|sanitize }}" class="governance-short" data-midnight="light" style="background-color: {{ section.background_color }};">
    <div class="main-wrapper">
        {% include 'partial/title.twig' %}
        
        <div class="governance-short-wrapper">
            <div class="governance-short-content" style="border-color:{{ section.border_color }};">
                {% if section.title %}
                <div class="content-title">
                    {{ section.title }}
                </div>    
                {% endif %}
                <div class="content-description">
                    {{ section.description }}
                </div>
              
                {% if section.logos is not empty %}
                <div class="content-logo__container">
                    {% for logo in section.logos %}
                    <div class="logo">
                        <img src="{{ logo.logo.url }}" alt="{{ logo.logo.alt }}">
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% if section.cta.title %}
        <div class="cta-wrapper">
            <a href="{{ section.cta.url }}" class="cta cta--black">{{ section.cta.title }}</a>
        </div>
        {% endif %}
    </div>

</section>