<section id="{{ section.first_line_title.title|sanitize }}" class="about-short" data-midnight="light" style="background-color: {{ section.background_color }};">
    <div class="main-wrapper">
        {% include 'partial/title.twig' %}
        
        <div class="about-short-wrapper">
            <div class="about-short-content" style="border-color:{{ section.border_color }};">
                {% if section.title %}
                <div class="content-title">
                    {{ section.title }}
                </div>    
                {% endif %}
                <div class="content-description">
                    {{ section.description }}
                </div>
            </div>
        </div>
        {% if section.cta.title %}
        <div class="cta-wrapper">
            <a href="{{ section.cta.url }}" class="cta cta--black">{{ section.cta.title }}</a>
        </div>
        {% endif %}
    </div>

</section>