<section id="{{ section.first_line_title.title|sanitize }}" class="about" data-midnight="light">
    
    {% include 'partial/title.twig' %}

    <div class="main-wrapper about-wrapper">
        <div class="about__columns">
            <div class="text-and-2-columns__part">

                <div class="first-column">
                    {% if section.first_column.description %}
                    <div class="first-column__description">
                        {{ section.first_column.description }}
                    </div>
                    {% endif %}
                    <!-- Rajouter le bouton -->
                    <div class="first-column__cta-wrapper ">
                        <a href="{{ section.first_column.link.url }}" class="cta--join-us">{{ section.first_column.link.title }}</a>
                    </div>
                </div>
                <div class="second-column">
                    <div class="blocks">
                        {% for block in section.second_column.blocks %}
                        <div class="block" style="background-color:{{ block.background_color }}; background-image:url('{{ block.background_image.url }}'); color:{{ block.color }}">
                            {% if block.title %}
                            <div class="block__title">
                                <h4>{{ block.title }}</h4>
                            </div>
                            {% endif %}
                            {% if block.description %}
                            <div class="block__description description--small">
                                {{ block.description }}
                            </div>
                            {% endif %}
                            <div class="block__stats">
                                {% for stat in block.stats %}
                                    <div class="stat">
                                        {{ stat.text }}
                                    </div>
                                {% endfor %}
                            </div> 
                            {% if block.source %}
                            <div class="block__source">
                                {{ block.source }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="third-column">
                <div class="block" style="background-color:{{ section.third_column.background_color }}; color:{{ section.third_column.text_color }}; border-color: {{ section.third_column.border_color}} ;">
                    {% if section.third_column.title %}
                    <div class="block__title">
                        <h4>{{ section.third_column.title }}</h4>
                    </div>
                    {% endif %}
                    {% if section.third_column.description %}
                    <div class="block__description description--small">
                        {{ section.third_column.description }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>