<!-- MODAL -->
<div class="modal closed">
    <div class="modal-wrapper container">
      <div class="modal-content" >
        <div class="close"></div>
      </div>
    </div>
</div>
<!-- END MODAL -->

<section id="{{ section.first_line_title.title|sanitize }}" class="apply" style="background-color: {{ section.background_color }};" data-midnight="light">
    <div class="main-wrapper">
        {% include 'partial/title.twig' %}

    </div>
    <div class="apply-content__wrapper">
        <div class="apply-content">
            {% if section.subtitle %}
            <div class="apply-content__subtitle">
                {{ section.subtitle }}
            </div>
            {% endif %}
            <div class="apply-content__columns">
                <div class="columns__column">
                    {% if section.left_column.title %}
                    <div class="column-title">
                        <h3 style="color: {{ section.left_column.color }};">{{ section.left_column.title }}</h3>
                    </div>
                    {% endif %}
                    {% if section.left_column.content_type == "event" %}
                    <div class="column__events">
                        {% for event in section.left_column.events %}
                        <div class="event">
                            <div class="event-title" gsap-reveal>
                                {{ event.title }}
                            </div>
                            <div class="event-date" gsap-reveal>
                                {{ event.date }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="column__critera">
                        <div class="critera">
                            <div class="critera-description">
                                {{ section.left_column.description }}
                            </div>
                            <div class="event__cta-wrapper">
                            {% if section.left_column.type == 'link' and section.left_column.button.title %}
                                <a href="{{ section.left_column.button.url }}" target="{{ section.left_column.button.target }}">
                                    {{ section.left_column.button.title }}
                                </a> 
                            {% elseif section.left_column.type == 'popup' and section.left_column.label %}
                                <a data-popup=".modal" data-content="{{ section.left_column.modal_text|sanitize }}" data-btn='{{ section.left_column.type }}'>
                                     {{ section.left_column.label }}
                                </a>
                            {% elseif section.left_column.type == 'file' and section.left_column.file_label %}  
                                <a href="{{ section.left_column.file.url }}" target="_blank" download>
                                    {{ section.left_column.file_label }}     
                                </a> 
                            {% endif %}
                            </div>
                        </div>
                        
                    </div>

                    {% endif %}
                </div>

                <div class="columns__column">
                    {% if section.right_column.content_type == "event" %}
                        <div class="column__events">
                            {% for event in section.right_column.events %}
                            <div class="event">
                                <div class="event-title" gsap-reveal>
                                    {{ event.title }}
                                </div>
                                <div class="event-date" gsap-reveal>
                                    {{ event.date }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="column__critera">
                            <div class="critera">
                                {% if section.right_column.title %}
                                <div class="column-title">
                                    <h3 style="color: {{ section.right_column.color }};">{{ section.right_column.title }}</h3>
                                </div>
                                {% endif %}
                                <div class="critera-description">
                                    {{ section.right_column.description }}
                                </div>
                                <div class="event__cta-wrapper">
                                {% if section.right_column.type == 'link' and section.right_column.button.title %}
                                    <a href="{{ section.right_column.button.url }}" target="{{ section.right_column.button.target }}">
                                        {{ section.right_column.button.title }}
                                    </a> 
                                {% elseif section.right_column.type == 'popup' and section.right_column.label %}
                                    <a data-popup=":scope .modal" data-content="{{ section.right_column.modal_text|sanitize }}" data-btn='{{ section.right_column.type }}'>
                                        {{ section.right_column.label }}
                                    </a>
                                {% elseif section.right_column.type == 'file' and section.right_column.file_label %}  
                                    <a href="{{ section.right_column.file.url }}" target="_blank" download>
                                        {{ section.right_column.file_label }}     
                                    </a> 
                                {% endif %}
                                {% if section.right_column.cta_faq %}
                                    <a href="{{ section.right_column.cta_faq.url }}" target="{{ section.right_column.button.target }}">
                                        {{ section.right_column.cta_faq.title }}
                                    </a> 
                                {% endif %}
                                </div>
                            </div>
                            {# {% if section.link.title %} #}
                            <!-- <div class="cta-wrapper">
                                <a href="{{ section.link.url }}" class="cta cta--gold cta--small" target="{{ section.link.target }}">{{ section.link.title }}</a>
                            </div> -->
                            {# {% endif %} #}
                            {% if section.type_button == "link" %}
                                {% if section.link.title %}
                                <div class="cta-wrapper">
                                    <a href="{{ section.link.url }}" class="cta cta--gold cta--small" target="{{ section.link.target }}">{{ section.link.title }}</a>
                                </div>
                                {% endif %}
                            {% elseif section.type_button == "popup" %}
                                {% if section.label %}
                                <div class="cta-wrapper">
                                    <a data-popup=":scope .modal" class="cta cta--gold cta--small" data-btn='{{ section.type_button }}'  data-content="{{ section.modal_text|sanitize }}">{{ section.label }}</a>
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
