
<section id="{{ section.first_line_title.title|sanitize }}" class="apply" style="background-color: {{ section.background_color }};" data-midnight="light">
    {% include 'partial/title.twig' %}
    <div class="main-wrapper apply-content__wrapper">
        <div class="apply-content">
            {% if section.subtitle %}
            <div class="apply-content__subtitle">
                {{ section.subtitle }}
            </div>
            {% endif %}
            <div class="apply-content__columns">
                <div class="columns__column">
                    {% if section.left_column.title %}
                    <div class="column-title">
                        <h3 style="color: {{ section.left_column.color }};">{{ section.left_column.title }}</h3>
                    </div>
                    {% endif %}
                    <div class="column__events">
                        {% for event in section.left_column.events %}
                        <div class="event">
                            <div class="event-title" gsap-reveal>
                                {{ event.title }}
                            </div>
                            <div class="event-date" gsap-reveal>
                                {{ event.date }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="columns__column">
                    <div class="column__critera">
                        <div class="critera">
                            {% if section.right_column.title %}
                            <div class="column-title">
                                <h3 style="color: {{ section.right_column.color }};">{{ section.right_column.title }}</h3>
                            </div>
                            {% endif %}
                            <div class="critera-description">
                                {{ section.right_column.description }}
                            </div>
                            <div class="event__cta-wrapper">
                            {% if section.right_column.type == 'link' %}
                                <a href="{{ section.right_column.button.url }}" target="{{ section.right_column.button.target }}">
                                    {{ section.right_column.button.title }}
                                </a> 
                            {% elseif section.right_column.type == 'popup' %}
                                <a data-popup=":scope .modal">
                                     {{ section.right_column.button.title }}
                                </a>

                                
                            {% endif %}
                            </div>
                        </div>
                        {% if section.link.title %}
                        <div class="cta-wrapper">
                            <a href="{{ section.link.url }}" class="cta cta--gold cta--small" target="{{ section.link.target }}">{{ section.link.title }}</a>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'partial/modal.twig' with { content: section.right_column.modal_text } %}
</section>
