<section id="{{ section.first_line_title.title|sanitize }}" class="contact" data-midnight="light"
	style="background-color: {{ section.background_color }};">
	<div class="main-wrapper">
		{% include 'partial/title.twig' %}
		<div class="contact-wrapper">

			{% if section.title_column %}
			<div class="contact__title">
				{{ section.title_column }}
			</div>
			{% endif %}

			<div class="contact-form__wrapper">
				<div class="contact-form">
					{{ fn('do_shortcode', section.contact_form ) }}
				</div>
			</div>

			<div class="contact-columns__wrapper">
				<div class="column-left">
					{{ section.left_column.map }}
				</div>
				{% if section.button.title %}
				<div class="contact-cta-wrapper--mobile">
					<a href="{{ section.button.url }}" class="cta cta--gold">{{ section.button.title }}</a>
				</div>
				{% endif %}
				<div class="column-right">


					<div class="column-address">
						{{ section.right_column.address }}
					</div>
					<div class="column-contact-mail">
						{{ section.right_column.contact_mail }}
					</div>
					<div class="column-newsletter__wrapper">
						{# <div class="newsletter-title">
							{{ section.right_column.newsletter_title }}
						</div> #}
						<div class="newsletter-content">
							<div class="nl-block">
								<div class="block-title">
									{{ section.right_column.subscribe_title }}
								</div>
								<div class="block-picto">
									<a href="{{ section.right_column.subscribe_link }}">
									{% if section.right_column.subscribe_picto.subtype == 'svg+xml' %}
										{{ fn( 'file_get_contents', section.right_column.subscribe_picto.url ) }}
									{% else %}
										<img src="{{ section.right_column.subscribe_picto.url }}" alt="">
									{% endif %}
									</a>
								</div>
							</div>
							<div class="nl-block">
								<div class="block-title">
									{{ section.right_column.linkedin_title }}
								</div>
								<div class="block-picto">
									<a href="{{ section.right_column.link_linkedin }}">
									{% if section.right_column.picto_linkedin.subtype == 'svg+xml' %}
										{{ fn( 'file_get_contents', section.right_column.picto_linkedin.url ) }}
									{% else %}
										<img src="{{ section.right_column.picto_linkedin.url }}" alt="">
									{% endif %}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if section.cta.title %}
		<div class="cta-wrapper">
			<a href="{{ section.cta.url }}" class="cta cta--black">{{ section.cta.title }}</a>
		</div>
		{% endif %}
	</div>
</section>
