<section class="contact" style="background-color: {{ section.background_color }};">
	{% include 'partial/title.twig' %}

	<div class="main-wrapper">
		<form class="contact__form">
			<div class="contact__form--left">
				<div class="contact__input-wrapper input-wrapper">
					<input id="lastname" name="lastname" type="text" class="contact__input required">
					<label class="contact__label" for="lastname">
						{{ __( 'Name', 'eltigre' ) }}
					</label>
				</div>
		
				<div class="contact__input-wrapper input-wrapper">
					<input id="entreprise" name="entreprise" type="text" class="contact__input required">
					<label class="contact__label" for="entreprise">
						{{ __( 'Company', 'eltigre' ) }}
					</label>
				</div>
		
				<div class="contact__input-wrapper input-wrapper">
					<input id="email" name="email" type="email" class="contact__input required">
					<label class="contact__label" for="email">
						{{ __( 'Email', 'eltigre' ) }}
					</label>
				</div>
			</div>
			<div class="contact__form--right">
				<div class="input-wrapper textarea-wrapper">
					<textarea id="message" name="message" class="required" type="text"></textarea>
					<label class="contact__label" for="message">
						{{ __( 'Message', 'eltigre' ) }}
					</label>
				</div>
				
				<button class="cta cta--gold cta--small">
					{{ __( 'Envoyer', 'eltigre' ) }}
				</button>
			</div>
	
		</form>

	</div>
</section>