<section id="{{ section.first_line_title.title|sanitize }}" class="our-grants" data-midnight="light" style="background-color: {{ section.background_color }};">
    <div class="main-wrapper">
        {% include 'partial/title.twig' %}
        <div class="our-grants-wrapper">
            
            {% for block_content in section.contents %}
            {% if block_content.title_content %}
            <div class="our-grants__title">
                {{ block_content.title_content }}
            </div>
            {% endif %}
            <div class="our-grants-columns__wrapper" style="background-color:{{ block_content.background_color_content }}">
                <div class="column-left">   
                    {{ block_content.left_column.description }}
                </div>
                <div class="column-right">
                    {{ block_content.right_column.description }}
                    
                    <div class="description-cta-wrapper">
                        {% if block_content.right_column.right_column_button.type == 'link' %}
                        {% if block_content.right_column.right_column_button.button.title  %}
                            <a href="{{ block_content.right_column.right_column_button.button.url }}" target="{{block_content.right_column.right_column_button.button.target }}">
                                {{ block_content.right_column.right_column_button.button.title }}
                            </a> 
                            {% endif %}
                        {% elseif block_content.right_column.right_column_button.type == 'popup' %}
                        {% if block_content.right_column.right_column_button.popup_label  %}
                            <a data-popup=":scope .modal">
                                 {{ block_content.right_column.right_column_button.popup_label }}
                            </a>
                        {%endif%}
                        {% elseif block_content.right_column.right_column_button.type == 'file' %}  
                            {% if block_content.right_column.right_column_button.label_file  %}
                            <a href="{{ block_content.right_column.right_column_button.file.url }}" target="_blank" download>
                                {{ block_content.right_column.right_column_button.label_file }}     
                            </a> 
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if section.cta.title %}
        <div class="cta-wrapper">
            <a href="{{ section.cta.url }}" class="cta cta--black">{{ section.cta.title }}</a>
        </div>
        {% endif %}
    </div>
</section>